.second-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 1514px;
  margin: 40px auto;
  padding: 0 5%;
  box-sizing: border-box;
  gap: 24px;
}

.left-section {
  width: 100%;
  max-width: 356px;
  flex: 1 1 300px;
}

.subtitle {
  color: rgba(154, 154, 154, 1);
  width: 100%;
  max-width: 292px;
  font-weight: 500;
  font-size: 24px;
  text-align: start;
}

.highlight-text {
  font-weight: bold;
  text-align: start;
}

.highlight-text h1 {
  font-size: clamp(32px, 4vw, 48px);
  margin: 4px 0;
}

.purple {
  color: rgba(173, 0, 255, 1);
}

.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.right-section {
  flex: 1 1 260px;
  max-width: 50%;
  margin-right: 0;
  text-align: center;
}

.emoji {
  font-size: 24px;
}

.description {
  font-size: 20px;
  color: black;
  line-height: 1.5;
  max-width: 260px;
  margin: 0 auto;
  font-weight: 100;
}

@media (max-width: 768px) {
  .second-page {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 0 20px;
  }

  .left-section, .right-section {
      max-width: 100%;
      width: 100%;
      margin: 0;
  }

  .highlight-text h1 {
      font-size: 1.8rem;
      line-height: 2rem;
  }

  .emoji {
      font-size: 2rem;
      margin-top: 1rem;
  }

  .description {
      font-size: 1rem;
      line-height: 1.4rem;
      max-width: 100%;
      margin-right: 0;
  }
}
